<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Db"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\yalcinsabancelebi\source\repos\Digiball\Database.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
